<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://intranet.komfort.pl/">iKomfort</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/location-map"> <b>Mapa</b> </a>
        </li>

        @if(userData != undefined)
        {
          <li class="nav-item">
            <a class="nav-link" href="/management">Zarządzanie</a>
          </li>
        }
      </ul>
      <form class="d-flex">
        @if(userData != undefined){
          <span class="badge bg-primary me-2 badge-header"> {{userData.nazwisko}} {{userData.imie}} </span>
        }
        @else {
          <div class="badge bg-danger me-2 badge-header"> NIEZALOGOWANO </div>
        }

        @if(userData != undefined){
          <button type="button" class="btn btn-sm btn-outline-secondary w-10" mdbRipple rippleColor="dark" (click)="Logout()">
            <i class="bi bi-door-closed-fill"></i>
            Log out
          </button>
        }
        @else {
          <button type="button" class="btn btn-sm btn-outline-secondary w-10" mdbRipple rippleColor="dark" (click)="ShowLoginModal()">
            <i class="bi bi-door-open"></i>
            Log in
          </button>
        }
      </form>
    </div>
  </div>
</nav>