<div class="modal-header">
    <p>
        Informacje o serwisie.
    </p>
</div>
<mat-dialog-content>
<ol style="font-size: 14px; color: black;">
    <li> Lista sklepów generowana jest na podstawie danych z SAP! </li>
    <li> Informacje o sklepach można edytować w serwisie Sklepy - lista. </li>
    <li> Pozycję sklepów na mapie mogą edytować tylko administratorzy serwisu po zalogowaniu się. </li>
    <li> Tylko administratorzy serwisu mogą dodać nowych administratorów. </li>
</ol>
</mat-dialog-content>

<div class="modal-footer">
    <mat-dialog-actions  style="justify-content: space-around;">
        <button class="w-25 btn btn-danger btn-sm" mat-button [mat-dialog-close]="null" title="Anuluj"> Zamknij </button>
    </mat-dialog-actions>
</div>

