<div class="container mt-3">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-sm btn-primary" ng-click="click()">
                Add admin
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm mt-3">
                <thead>
                    <tr>
                        <th> Lp. </th>
                        <th> Nazwisko & imie </th>
                        <th>
                            <i class="bi bi-gear"></i>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
